
body {
    background: #442242;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
sup {
    color: #AF5D6C;
}
.text-center {
    text-align: center;
}
/* Important switch stuff */

input[type=checkbox].switch + label {
    width: 34px;
    height: 14px;
    background: lightgray;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin: 10px;
}
input[type=checkbox].switch + label:before,
input[type=checkbox].switch + label:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 0;
    transition: all .2s;
}
input[type=checkbox].switch + label:after {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
input[type=checkbox].switch + label:before {
    background: lightgray;
    transform: scale3d(0, 0, 1);
}
input[type=checkbox].switch + label:active:before {
    transform: scale3d(3, 3, 1);
    opacity: 0;
}
input[type=checkbox].switch {
    display: none;
}
input[type=checkbox].switch:checked + label {
    background: rgba(3, 155, 229, 0.5);
}
input[type=checkbox].switch:checked + label:before,
input[type=checkbox].switch:checked + label:after {
    left: 14px;
    background: #039be5;
}
input[type=checkbox].switch:disabled + label {
    opacity: 0.4;
    cursor: not-allowed;
}
input[type=checkbox].switch.green {
    display: none;
}
input[type=checkbox].switch.green:checked + label {
    background: rgba(4, 196, 52, 0.5);
}
input[type=checkbox].switch.green:checked + label:before,
input[type=checkbox].switch.green:checked + label:after {
    background: #04c434;
}
input[type=checkbox].switch.red {
    display: none;
}
input[type=checkbox].switch.red:checked + label {
    background: rgba(244, 67, 54, 0.5);
}
input[type=checkbox].switch.red:checked + label:before,
input[type=checkbox].switch.red:checked + label:after {
    background: #f44336;
}


